<!--
  Generated template for the RatingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title><ion-icon name="md-school"></ion-icon> Course</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  
  <ion-card *ngIf="!subscribe">
    <button ion-button full color="light" (click)="sub()">Subscribe</button>
  </ion-card>

  <ion-card>
  <ion-card-header *ngFor="let a_acourse of acourse">
    {{a_acourse.ccode}}
  </ion-card-header>
  <ion-card-content>
  <div *ngFor="let a_acourse of acourse">
      <p>{{a_acourse.cname}}</p>
      <p>University: {{a_acourse.cschool}}</p>
      <h4>Description:</h4>
      <p>{{a_acourse.cdesp}}</p>
  </div>
  </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Lecturer</ion-card-header>
    <ion-card-content>
      <ion-list>
      <ion-item *ngFor="let a_lecture of lectures">
          <button ion-item (click)="tolecturepage(a_lecture.pid)">
              <ion-icon large name="ios-person"></ion-icon>  
              {{a_lecture.pname}}
                <!--<ion-icon name='stats' item-end small (click)="toratelecturepage(a_lecture.pid)"></ion-icon>-->     
              <ion-icon item-end name="ios-arrow-forward"></ion-icon>       
          </button>
          <button ion-item (click)="toratingpage(a_lecture.pid, a_lecture.pname)">
              <ion-icon small name="stats"></ion-icon>  
              Score:  {{a_lecture.pscore==null ? 'No Rate' : a_lecture.pscore}}
              <ion-icon item-end name="ios-arrow-forward"></ion-icon>
          </button>
      </ion-item>
      
    </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Rate
      <ion-segment [(ngModel)]="defultrate">
        <ion-segment-button value="open_rate" (click)="loadrating()">
          Open
        </ion-segment-button>
        <ion-segment-button value="current_rate">
          Current Student
        </ion-segment-button>
      </ion-segment>
    </ion-card-header>

    <ion-card-content>
    <div [ngSwitch]="defultrate">
    <div *ngSwitchCase="'open_rate'">
      Current Rate: {{courserate}}
      <canvas #barCanvas></canvas>
      <!--<button ion-button (click)="loadrating()">reload</button>-->
      <ion-note>* For Learning, Exam and Content, 5 mark is easy to achieve, 1 mark is difficult.</ion-note>
    </div>

    <div *ngSwitchCase="'current_rate'">
      Nothing!
    </div>
    </div>
  </ion-card-content>
  </ion-card>
  
  <!--<ion-card>
    <ion-list>
      <a ion-item (click)="openModal()">
        Get Your Rate
      </a>
    </ion-list>
  </ion-card>-->

  <ion-card>
    <ion-card-header>Give Rating</ion-card-header>
    <ion-card-content>
        <ion-item (click)="wantgetrate()">Click to rating<ion-icon item-end name="{{getrate ? 'ios-arrow-up':'ios-arrow-down'}}"></ion-icon></ion-item>
        <div *ngIf="getrate">
        <ion-note>1 Strongly Disaggree; 2 Disaggree; 3 Neutral; 4 Aggree; 5 Strongly Aggree</ion-note>
        <p>Easy to learn and understand</p>
        <div radio-group class="btn-group" style="width:100%" pedding [(ngModel)]="ratinglearn">
            <a (click)="ratinglearn=item[1]" class="{{item[0]}}" *ngFor="let item of buttongroup(ratinglearn);">{{item[1]}}</a>
        </div>
        <br>
        <!--<ion-range min="1" max="5" step="1" pin="true" snaps="true" color="{{ratinglearn>3 ? 'secondary' : 'danger'}}" [(ngModel)]="ratinglearn">
            <ion-icon range-left  name="sad"></ion-icon>
            <ion-icon range-right  name="happy"></ion-icon>
        </ion-range>-->

        <p>Easy to pass exam</p>
        <div radio-group class="btn-group" style="width:100%" pedding [(ngModel)]="ratingexam">
            <a (click)="ratingexam=item[1]" class="{{item[0]}}" *ngFor="let item of buttongroup(ratingexam);">{{item[1]}}</a>
        </div>
        <br>

        <p>Relevant and useful course contents </p>
        <div radio-group class="btn-group" style="width:100%" pedding [(ngModel)]="ratingknow">
            <a (click)="ratingknow=item[1]" class="{{item[0]}}" *ngFor="let item of buttongroup(ratingknow);">{{item[1]}}</a>
        </div>
        <br>

        <p>Overall, satisfied with the course</p>
        <div radio-group class="btn-group" style="width:100%" pedding [(ngModel)]="ratingcourse">
            <a (click)="ratingcourse=item[1]" class="{{item[0]}}" *ngFor="let item of buttongroup(ratingcourse);">{{item[1]}}</a>
        </div>
        <br>
        
        <p>
          <ion-checkbox [(ngModel)]="anonymous"></ion-checkbox> I want rating anonymous
        </p>
        
        <button ion-button color="light" round (click)="submitratecourse()">Submit</button>
        </div>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>Comment</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let a_comment of comments">
            <p><b><u>{{a_comment.username == '' ? "Anonymous" : a_comment.username}}</u>: </b></p>
            <p>{{a_comment.cm}}</p>
            <ion-note item-end>{{a_comment.date}}<br>#{{a_comment.comid}}</ion-note>
            <ion-col col-1 item-end>
                <ion-icon name="md-arrow-round-up" color="secondary" small></ion-icon><br><!--<p class="smallnumberp">32</p>-->
                <ion-icon name="md-arrow-round-down" small></ion-icon>
            </ion-col>
        </ion-item>
        <button ion-button full color="light" (click)="showmorecomment()">More Comment</button>
      </ion-list>
      <br>
      <textarea placeholder="Enter a comment"  [(ngModel)]="commentcourse"></textarea>

      <p>
      <ion-checkbox [(ngModel)]="anonymous"></ion-checkbox> I want comment anonymous
      </p>

      <button ion-button color="light" round (click)="submitratecomment()">Comment</button>
      <button ion-button clear round (click)="commentcourse=null">reset</button>
    </ion-card-content>    
  </ion-card>
  
  
  
</ion-content>
