<!--
  Generated template for the RatingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>Course</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
  <ion-card-header *ngFor="let a_acourse of acourse">
    <h4>{{a_acourse.ccode}}</h4>
    <h5>{{a_acourse.cname}}</h5>
    <p>University: {{a_acourse.cschool}}</p>
  </ion-card-header>
  
  
  <ion-card-content>
  <div *ngFor="let a_acourse of acourse">
      <h4>Description:</h4>
      <p>{{a_acourse.cdesp}}</p>
  </div>
  <h4>Lecturer</h4>
    <ion-list>
      <button ion-item *ngFor="let a_lecture of lectures" (click)="toprofessorpage(a_lecture.pid)">
        <ion-icon name="person"></ion-icon>
        {{a_lecture.pname}}
      </button>
    </ion-list>
  </ion-card-content>
  </ion-card>

  <ion-card>
    
    <ion-card-header><h4>Rate</h4></ion-card-header>
    <div padding>
      <ion-segment [(ngModel)]="courserate">
        <ion-segment-button value="open_rate">
          Open
        </ion-segment-button>
        <ion-segment-button value="current_rate">
          Current Student
        </ion-segment-button>
      </ion-segment>
    </div>
    <div [ngSwitch]="courserate">
    <ion-card-content *ngSwitchCase="'open_rate'">
    <h4>Current Rate: {{courserate}}</h4>
      <canvas #barCanvas></canvas>
    </ion-card-content>

    <ion-card-content *ngSwitchCase="'current_rate'">
    </ion-card-content>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-content>
        <ion-label color="{{ratingcourse>3 ? 'secondary' : 'danger'}}">Overrall  Score: {{ratingcourse}}</ion-label>
        <ion-range min="1" max="5" step="1" pin="true" snaps="true" color="{{ratingcourse>3 ? 'secondary' : 'danger'}}" [(ngModel)]="ratingcourse">
            <ion-icon range-left color="danger" name="thumbs-down"></ion-icon>
            <ion-icon range-right color="secondary" name="thumbs-up"></ion-icon>
        </ion-range>

        <ion-label color="{{ratinglearn>3 ? 'secondary' : 'danger'}}">Learning Score: {{ratinglearn}}</ion-label>
        <ion-range min="1" max="5" step="1" pin="true" snaps="true" color="{{ratinglearn>3 ? 'secondary' : 'danger'}}" [(ngModel)]="ratinglearn">
            <ion-icon range-left color="danger" name="sad">Easy</ion-icon>
            <ion-icon range-right color="secondary" name="happy">Hard</ion-icon>
        </ion-range>

        <ion-label color="{{ratingexam>3 ? 'secondary' : 'danger'}}">Exam Score: {{ratingexam}}</ion-label>
        <ion-range min="1" max="5" step="1" pin="true" snaps="true" color="{{ratingexam>3 ? 'secondary' : 'danger'}}" [(ngModel)]="ratingexam">
            <ion-icon range-left color="danger" name="sad">Easy</ion-icon>
            <ion-icon range-right color="secondary" name="happy">Hard</ion-icon>
        </ion-range>

        <ion-label color="{{ratingknowlage>3 ? 'secondary' : 'danger'}}">Knowlage Score: {{ratingknowlage}}</ion-label>
        <ion-range min="1" max="5" step="1" pin="true" snaps="true" color="{{ratingknowlage>3 ? 'secondary' : 'danger'}}" [(ngModel)]="ratingknowlage">
            <ion-icon range-left small name="book"></ion-icon>
            <ion-icon range-right name="book"></ion-icon>
        </ion-range>
    </ion-card-content>
  </ion-card>
  
  <button ion-button color="light" round (click)=submitratecourse()>Submit</button>
  
  
</ion-content>
