page-rating {
    .ios, .md {
 
        page-home {
     
            .scroll-content {
                background-color: map-get($colors, light);
            }
     
            ion-card-header {
                font-weight: bold;
            }
     
        }
     
    }
    .col div{
        border: 0px solid black;
    }
    .col div:not(:last-child) {
        border-bottom: 1px solid black; /* Prevent double borders */

    }

    .rangelable {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 14px;
        text-align: right;
      }

    ion-note {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 14px;
        text-align: right;
      }
    
    .btn-group button {
        background-color: rgb(241, 241, 241); /* Green background */
        border: 1px solid gray; /* Green border */
        color: black; /* White text */
        width:20%;
        padding: 10px 24px; /* Some padding */
        cursor: pointer; /* Pointer/hand icon */
        float: left; /* Float the buttons side by side */
    }

    .btn-group button:last-child {
        border-radius: 0px 20px 20px 0px !important;
    }
    .btn-group button:first-child {
        border-radius: 20px 0px 0px 20px !important;
    }

    .btn-group button:not(:last-child) {
        border-right: none; /* Prevent double borders */
    }
    
    /* Clear floats (clearfix hack) */
    .btn-group:after {
        content: "";
        clear: both;
        display: table;
    }
    
    /* Add a background color on hover */
    /*.btn-group button:hover {
        background-color: #137de0;
        border: 1px solid #137de0;
        color: white;
    }*/

    .btn-group button:focus {
        background-color: #137de0;
        border: 1px solid #137de0;
        color: white;
    }

    .btn-group a{
        background-color: rgb(241, 241, 241); /* Green background */
        border: 1px solid gray; /* Green border */
        color: black; /* White text */
        width:20%;
        padding: 10px 24px; /* Some padding */
        cursor: pointer; /* Pointer/hand icon */
        float: left; /* Float the buttons side by side */
    }

    .btn-group a:last-child {
        border-radius: 0px 20px 20px 0px !important;
    }
    .btn-group a:first-child {
        border-radius: 20px 0px 0px 20px !important;
    }

    .btn-group a:not(:last-child) {
        border-right: none; /* Prevent double borders */
    }

    .btn-group .select{
        background-color: #137de0;
        border: 1px solid #137de0;
        color: white;
    }

    .btn-group .noselect{
        color: black;
    }
    
    textarea {
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: none;
    }

    ion-item {
        white-space : normal;
    }

}
