<ion-header>
  <ion-navbar>
    <ion-title>Rating Professor</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
  <ion-list>
      <ion-item *ngFor="let course of courseList">
        <h2> {{ course.name }} </h2>
        <h3> Code: <strong>{{ course.professor }}</strong> </h3>
      </ion-item>
  </ion-list>
  <h2>Hello</h2>

  <h3>Welcome user, {{username}}!</h3>
  Your Email is: {{email}}
  <h4>Course List</h4>
  <ion-card *ngFor="let a_course of courses">
    <ion-card-header>
      {{a_course.ccode}}
    </ion-card-header>
    <ion-card-content>
      {{a_course.cname}}   
    </ion-card-content>
    <ion-row no-padding>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='heart-outline'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" (click)="ratepage(a_course.ccode)" icon-start>
          <ion-icon name='stats'></ion-icon>            
          Rate
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  
</ion-content>
